# All Main Files
assignments/
previous_versions/
*.DS_Store
*.Rprofile
*.nbgrader.log
.ipynb_checkpoints/
*.Rproj
lectures/.ipynb_checkpoints
labs/labs_to_TA/
*ipynb_checkpoints
admin/
syllabus/ml-section-lesson-plan.txt
lectures/virtual-lesson-plan.md
*.sqlite
lectures/week_12/synchronous-materials/dc_housing_prices.csv


# Ignore because there is a repo in the repo
lectures/week_02/exercise/git-scavenger-hunt

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData


# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/
*_cache*

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
